<app-topmenu></app-topmenu>

<!-- Create User/Ticket Form -->
<div *ngIf="!isUserType" class="wrapper2 row">
    <div id="formContent" class="span6">
    <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <div>
            <label>username</label>
            <input type="text" [formControlName]="'username'" name="user_name" required>
        </div>
       
        <div>
            <label>password</label>
            <input type="text" [formControlName]="'password'" name="password" required>
        </div>
       

        <div>
            <label>pick user type</label>
            <select [formControlName]="'usertype'" name="usertype" required>
                <option *ngFor="let ut of backendUserTypes" [ngValue]="ut">
                    {{ ut }}
                </option>
            </select>    
        </div>
        
        <input type="submit" value="Create user">
    </form>
    </div>

    <div id="formContent2" class="span6">
        <form [formGroup]="createTicketForm" (ngSubmit)="createTicket()">
            <div>
                <label>company</label>
                <select [formControlName]="'company'" name="company" required>
                    <option *ngFor="let cmp of companies" [ngValue]="cmp">
                        {{ cmp.name }}
                    </option>
                </select>    
            </div>

            <div>
                <label>flight</label>
                <select [formControlName]="'flight'" name="flight" required>
                    <option *ngFor="let flg of flights" [ngValue]="flg">
                        {{ flg.origin.name }} - {{ flg.destination.name }}
                    </option>
                </select>    
            </div>

            <div>
                <label>type</label>
                <select [formControlName]="'oneway'" name="oneway" required>
                    <option selected value="false">Roundtrip</option>
                    <option value="true">Oneway</option>
                </select>
            </div>

            <div>
                <label>no. of tickets</label>
                <input type="number" class="myinput" [formControlName]="'count'" name="count" required>
            </div>

            <div>
                <label>departure</label>
                <input type="datetime-local" [formControlName]="'departureDate'" name="depart">
            </div>

            <div>
                <label>return</label>
                <input type="datetime-local" [formControlName]="'returnDate'" name="returndate">
            </div>
            
            
            <input type="submit" value="Create ticket">
        </form>
        </div>
</div>

<!-- Ticket table -->
<div *ngIf="tickets.length > 0" class="wrapper2">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Company</th>
          <th scope="col">Type</th>
          <th scope="col">Departure</th>
          <th scope="col">Return Date</th>
          <th scope="col">Count</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tick of tickets; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ tick.flight.origin.name }}</td>
          <td>{{ tick.flight.destination.name }}</td>
          <td>{{ tick.company.name }}</td>
          <td>{{ tick.oneway ? "Oneway" : "Round trip" }}</td>
          <td>{{ tick.departureDate }}</td>
          <td>{{ tick.returnDate ? tick.returnDate : "Not available" }}</td>
          <td>{{ tick.count }}</td>
          <td *ngIf="!isUserType" > <button type="button" (click)="deleteTicket(tick)" class="btn btn-danger btn-sm">delete</button> </td>
          <td *ngIf="!isUserType" > <button type="button" (click)="editTicket(tick)" class="btn btn-warning btn-sm">edit</button> </td>
          <td *ngIf="isUserType">           
            <input type="number" name="reservationCounter" id="{{i}}"> 
            <button type="button" class="btn btn-warning btn-sm" (click)="reserve(i)">reserve</button> 
          </td>
        </tr>
        </tbody>
      </table>
    </div>